asgiref==3.11.1
dj-database-url>=2.3,<3
Django==6.0.3
django-extensions==4.1
django-storages[s3]>=1.14,<2
gunicorn>=23,<24
packaging==26.0
psycopg2-binary==2.9.11
setuptools==82.0.1
sqlparse==0.5.5
tzdata==2025.3
wheel==0.46.3
whitenoise==6.12.0
